@import "../configs/config.scss";
@each $text, $text-value in $textColor {
    .text-#{$text} {
        color: $text-value !important;
    }
}

@each $sizes, $size in $font {
    .text-#{$sizes} {
        font-size: $size !important;
    }
}

.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right !important;
}

.text-left {
    text-align: left !important;
}

.text-justify {
    text-align: justify !important;
}

.text-unset {
    text-align: unset !important;
}

.text-bold {
    font-weight: bold !important;
}

.text-italic {
    font-style: italic !important;
}

.text-decoration-none {
    text-decoration: none !important;
}

.text-underline {
    text-decoration: underline !important;
}

.text-overline {
    text-decoration: overline !important;

}
.text-through {
    text-decoration: line-through !important;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.text-lowercase {
    text-transform: lowercase !important;
}

.text-capitalize {
    text-transform: capitalize !important;
}
